.Login{
    background-color:white;
    border: 0.5px solid rgb(211, 210, 210);
    box-sizing: border-box;
    display: block;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
}
.center {
    width: 375px;
    height:251px;
    margin-left: 20%;
    margin-right: 40%;
    margin-bottom:auto;
 }
 form {
    margin-top:-10%;
  }
input{
    width:60%;
    height:20%;
    margin-left: 20%;
    margin-right: 10%;
    padding: 12px 20px;
    box-sizing: border-box;
}
#email{
margin-top: -10px;
}
#password{
    margin-bottom: 10px;
}
.submit{
    width:60%;
    height:20%;
    margin-left: 20%;
    margin-right: 25%;
    margin-bottom:10%;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #4CB5F9;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 16px;
}
.container{
    height:100px;
    margin-left: 50%;
    margin-right: 25%;
    margin-bottom: -50px;
}
.image-button1{
    background-image: url('GooglePlay.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10px 20px;
    background-color: black;
    width:40%;
    height:40%;
    border-radius: 5px;
    margin-left: -100px;
    margin-right: 20px;
  }
  .image-button2{
    background-image: url('Microsoft.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10px 20px;
    background-color: black;
    width:40%;
    height:40%;
    border-radius: 5px; 
  }
.footer {
    margin-top: 10px;
    background-color:white;
    border: 0.5px solid rgb(211, 210, 210);
    box-sizing: border-box;
    display: block;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10px;
}
.footer a{
    color:#4CB5F9;
}

.footer p{
   margin-left: 25%;
}